*.iml
.gradle
/release
/.idea/caches
/.idea/libraries
/.idea/misc.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/local.properties
/keystore.properties
