<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huyingbao.module.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--一定要使用明文通信-->
    <application
        android:name="com.huyingbao.module.app.SimpleApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_main"
        android:label="@string/app_label_app"
        android:roundIcon="@drawable/ic_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:name,android:label" />
</manifest>