<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyingbao.module.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.huyingbao.module.common.CommonApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_main"
        android:label="@string/app_github_name"
        android:roundIcon="@drawable/ic_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.huyingbao.module.common.ui.start.view.StartActivity"
            android:theme="@style/AppTheme.Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>