<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyingbao.core.common">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".web.view.CommonWebActivity" />
    </application>

</manifest>