<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyingbao.module.github">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GithubApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_main"
        android:label="@string/app_github_name"
        android:roundIcon="@drawable/ic_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.login.view.LoginActivity"
            android:theme="@style/AppTheme.Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.person.view.PersonActivity" />
        <activity android:name=".ui.issue.view.IssueActivity" />
        <activity android:name=".ui.code.view.CodeActivity" />
        <activity android:name=".ui.repos.view.ReposActivity" />
        <activity android:name=".ui.main.view.MainActivity" />
        <activity android:name=".ui.user.view.UserActivity" />
        <activity android:name=".ui.star.view.StarActivity" />
        <activity android:name=".ui.search.view.SearchActivity" />
    </application>

</manifest>